div{
    border: dotted 2px darkred;
    margin: 8px;
    width: 20%;
    text-align: center;
    background-color: beige;

}

#header {
    font-family: fantasy;
    color: rgba(175, 13, 13, 0.623);
    font-style: italic;
    font-size: 30px;
    background-color: beige;
    width: 100%
}

#audio {
    display: none;
}
body {
    display: flex;
    align-content: space-between;
}

#monday {
    color: firebrick;
}

#tuesday {
    color: firebrick;
}

#wednesday {
    color: firebrick;
}

#thursday {
    color: firebrick;
}

#friday {
    color: firebrick;
}

#paulBakery {
    width: 21.5%;
}

#fattyDaddy {
    width: 30%;
}

#becco {
    width: 27%;
}

#grimaldis {
    width: 26%;
}

#sushi {
    width: 39.5%;
}

